<!-- delete-modal.component.html -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Confirmation</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onNoClick()">
        Cancel
      </button>
      <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">
        Delete
      </button>
    </div>
  </div>
</div>
