<div class="container p-3 px-md-4 mb-3 bg-white border-bottom">
  <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    <div class="d-flex">
      <div class="p-2 text-dark" routerLink="/auteurs">Liste des Auteurs</div>
      <div class="p-2 text-dark" routerLink="/editeurs">Liste des Editeurs</div>
      <div class="p-2 text-dark" routerLink="/Livres">Liste des Livers</div>
      <div class="p-2 text-dark" routerLink="/specialites">
        Liste des specialites
      </div>
    </div>
    <div>
      <div
        *ngIf="!this.authService.getisLoggedIn"
        class="p-2 text-dark"
        routerLink="/log-in"
      >
        Sign in
      </div>
      <button
        (click)="logout()"
        *ngIf="this.authService.getisLoggedIn"
        type="button"
        class="btn btn-light text-dark me-2"
      >
        Logout
      </button>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
