<!-- Button trigger modal -->
<button type="button" class="btn btn-success" (click)="openModal()">
  <i class="bi bi-plus-circle-fill"></i>
  Nouveau Auteur
</button>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajout Auteur</h4>
        <button
          type="button"
          class="btn btn-default"
          arialabel="Close"
          (click)="closeModal()"
        >
          <span ariahidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <template *ngTemplateOutlet="categorieform"></template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<ng-template #categorieform>
  <form (ngSubmit)="create()">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="nom"
        name="nom"
        placeholder="nom"
        [(ngModel)]="auteur.nomauteur"
      />
      <br />

      <input
        type="text"
        class="form-control"
        id="nom"
        name="email"
        placeholder="Email"
        [(ngModel)]="auteur.email"
      />
      <br />
      <input
        type="text"
        class="form-control"
        id="nom"
        name="numero"
        placeholder="Numero"
        [(ngModel)]="auteur.numtel"
      />
    </div>

    <div>
      <button type="submit" class="btn btn-success" (clic)="create()">
        Enregistrer
      </button>
    </div>
  </form>
</ng-template>
